gradio==5.0.0
huggingface_hub==0.25.2
spaces
torch
torchvision
numpy
Pillow
segmentation-models-pytorch
albumentations
gradio_client
fastapi
uvicorn
python-multipart
python-dotenv
supabase
websockets>=14.0
shapely
rasterio
reportlab
qrcode
