gradio==5.49.1
huggingface_hub>=0.28.1
spaces
torch
torchvision
numpy
Pillow
segmentation-models-pytorch
albumentations
fastapi
uvicorn
python-multipart
python-dotenv
supabase
websockets>=14.0
shapely
rasterio
reportlab
qrcode
